@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./bg-mb.jpg");
  background-position: center;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  display: grid;
  place-content: center;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem;
  text-align: center;
  height: 100vh;
}

h1 span {
  font-size: 2rem;
  display: block;
  font-weight: 300;
}

h1 {
  margin-bottom: 1rem;
  color: #fff;
  text-align: left;
  text-shadow: #25130250 0px 0px 10px;
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  text-shadow: #ca6708 0px 0px 10px;
}

p + p {
  margin-bottom: 2rem;
}

.section2 {
  display: flex;
  align-items: flex-end;

  /* place-content: left bottom; */
}

.btn {
  display: block;

  height: fit-content;
  color: #ffffff;
  background-color: #f68a24;
  border-color: #f57d0c;
  background-image: linear-gradient(to bottom, #f68a24 0%, #ed780a 100%);
  background-repeat: repeat-x;
  box-shadow: inset 0 1px 1px rgb(255 255 255 / 25%);
  border-radius: 5px;
  text-decoration: none;
  padding: 1rem 1.5rem;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  color: #ffffff;
  background-color: #de7009;
  border-color: #f57d0c;
  background-image: linear-gradient(to bottom, #f58010 0%, #ca6708 100%);
  background-repeat: repeat-x;
}

@media (min-width: 768px) {
  main {
    /* grid-template-columns: 1fr 1fr; */
    text-align: right;
    height: fit-content;
  }

  h1 span {
    font-size: 3rem;
  }

  h1 {
    font-size: 4rem;
    text-align: right;
  }

  body {
    background-image: url("./bg-des.jpg");
    background-position: right;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .section2 {
    justify-content: flex-end;
  }
}
